<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raydeeux.variouscommenttweaks/boogleTranslate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/copy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{27,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{32,0},{27,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raydeeux.variouscommenttweaks/deeplTranslate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{27,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{64,0},{27,32}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raydeeux.variouscommenttweaks/favorite.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,48}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{98,0},{50,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/hide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{54,48}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{150,0},{54,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/ignore.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{206,0},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/largeHighlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{405,95}</string>
			<key>spriteSourceSize</key>
			<string>{405,95}</string>
			<key>textureRect</key>
			<string>{{0,50},{405,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/libreTranslate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,147},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/paste.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,30}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{30,147},{26,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>raydeeux.variouscommenttweaks/show.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,40}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{62,147},{54,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/tinyHighlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{405,42}</string>
			<key>spriteSourceSize</key>
			<string>{405,42}</string>
			<key>textureRect</key>
			<string>{{0,189},{405,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux.variouscommenttweaks/translate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,28}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,233},{30,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>raydeeux.variouscommenttweaks/spritesheetOne-hd.png</string>
		<key>size</key>
		<string>{405,261}</string>
		<key>textureFileName</key>
		<string>raydeeux.variouscommenttweaks/spritesheetOne-hd.png</string>
	</dict>
</dict>
</plist>