<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{0,0},{60,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{88,0},{60,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{176,0},{60,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{264,0},{60,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{80,93}</string>
			<key>spriteSourceSize</key>
			<string>{80,95}</string>
			<key>textureRect</key>
			<string>{{352,0},{80,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{80,93}</string>
			<key>spriteSourceSize</key>
			<string>{80,95}</string>
			<key>textureRect</key>
			<string>{{0,62},{80,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{97,111}</string>
			<key>spriteSourceSize</key>
			<string>{97,123}</string>
			<key>textureRect</key>
			<string>{{95,62},{97,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{97,111}</string>
			<key>spriteSourceSize</key>
			<string>{97,123}</string>
			<key>textureRect</key>
			<string>{{208,62},{97,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{321,82},{60,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,86}</string>
			<key>spriteSourceSize</key>
			<string>{60,86}</string>
			<key>textureRect</key>
			<string>{{409,82},{60,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,86}</string>
			<key>spriteSourceSize</key>
			<string>{86,86}</string>
			<key>textureRect</key>
			<string>{{321,144},{86,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,86}</string>
			<key>spriteSourceSize</key>
			<string>{86,86}</string>
			<key>textureRect</key>
			<string>{{0,144},{86,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{88,161},{60,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{175,161},{60,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,85}</string>
			<key>spriteSourceSize</key>
			<string>{85,85}</string>
			<key>textureRect</key>
			<string>{{88,223},{85,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,85}</string>
			<key>spriteSourceSize</key>
			<string>{85,85}</string>
			<key>textureRect</key>
			<string>{{175,223},{85,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,86}</string>
			<key>spriteSourceSize</key>
			<string>{76,86}</string>
			<key>textureRect</key>
			<string>{{409,170},{76,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,86}</string>
			<key>spriteSourceSize</key>
			<string>{76,86}</string>
			<key>textureRect</key>
			<string>{{262,232},{76,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,90}</string>
			<key>spriteSourceSize</key>
			<string>{72,90}</string>
			<key>textureRect</key>
			<string>{{0,232},{72,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,90}</string>
			<key>spriteSourceSize</key>
			<string>{72,90}</string>
			<key>textureRect</key>
			<string>{{350,258},{72,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{72,109}</string>
			<key>spriteSourceSize</key>
			<string>{72,123}</string>
			<key>textureRect</key>
			<string>{{74,310},{72,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{72,110}</string>
			<key>spriteSourceSize</key>
			<string>{72,123}</string>
			<key>textureRect</key>
			<string>{{185,310},{72,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,86}</string>
			<key>spriteSourceSize</key>
			<string>{72,86}</string>
			<key>textureRect</key>
			<string>{{297,332},{72,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,86}</string>
			<key>spriteSourceSize</key>
			<string>{72,86}</string>
			<key>textureRect</key>
			<string>{{385,332},{72,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{71,106}</string>
			<key>spriteSourceSize</key>
			<string>{71,124}</string>
			<key>textureRect</key>
			<string>{{0,324},{71,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{71,106}</string>
			<key>spriteSourceSize</key>
			<string>{71,124}</string>
			<key>textureRect</key>
			<string>{{73,384},{71,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,86}</string>
			<key>spriteSourceSize</key>
			<string>{72,86}</string>
			<key>textureRect</key>
			<string>{{181,384},{72,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,86}</string>
			<key>spriteSourceSize</key>
			<string>{72,86}</string>
			<key>textureRect</key>
			<string>{{269,406},{72,86}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{81,106}</string>
			<key>spriteSourceSize</key>
			<string>{81,123}</string>
			<key>textureRect</key>
			<string>{{357,406},{81,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{81,106}</string>
			<key>spriteSourceSize</key>
			<string>{81,123}</string>
			<key>textureRect</key>
			<string>{{0,457},{81,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,90}</string>
			<key>spriteSourceSize</key>
			<string>{74,90}</string>
			<key>textureRect</key>
			<string>{{108,458},{74,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,90}</string>
			<key>spriteSourceSize</key>
			<string>{74,90}</string>
			<key>textureRect</key>
			<string>{{200,480},{74,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{76,109}</string>
			<key>spriteSourceSize</key>
			<string>{76,123}</string>
			<key>textureRect</key>
			<string>{{292,489},{76,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{76,109}</string>
			<key>spriteSourceSize</key>
			<string>{76,123}</string>
			<key>textureRect</key>
			<string>{{403,489},{76,109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-hd.png</string>
		<key>size</key>
		<string>{485,598}</string>
		<key>textureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-hd.png</string>
	</dict>
</dict>
</plist>