<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>razoom.improved_transform_controls/freeRotOffBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>razoom.improved_transform_controls/freeRotOnBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{0,60},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>razoom.improved_transform_controls/snapOffBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{0,120},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>razoom.improved_transform_controls/snapOnBtn_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,58}</string>
			<key>spriteSourceSize</key>
			<string>{58,58}</string>
			<key>textureRect</key>
			<string>{{0,180},{58,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>razoom.improved_transform_controls/ITCSpritesheet-hd.png</string>
		<key>size</key>
		<string>{58,238}</string>
		<key>textureFileName</key>
		<string>razoom.improved_transform_controls/ITCSpritesheet-hd.png</string>
	</dict>
</dict>
</plist>