<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ninxout.redash/RD_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,136}</string>
			<key>spriteSourceSize</key>
			<string>{188,136}</string>
			<key>textureRect</key>
			<string>{{0,0},{188,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,151}</string>
			<key>spriteSourceSize</key>
			<string>{156,151}</string>
			<key>textureRect</key>
			<string>{{190,0},{156,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_createLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{363,90}</string>
			<key>spriteSourceSize</key>
			<string>{363,90}</string>
			<key>textureRect</key>
			<string>{{348,0},{363,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,148}</string>
			<key>spriteSourceSize</key>
			<string>{140,148}</string>
			<key>textureRect</key>
			<string>{{713,0},{140,148}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_featuredLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{468,89}</string>
			<key>spriteSourceSize</key>
			<string>{468,89}</string>
			<key>textureRect</key>
			<string>{{348,142},{468,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gauntlets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,159}</string>
			<key>spriteSourceSize</key>
			<string>{152,159}</string>
			<key>textureRect</key>
			<string>{{863,0},{152,159}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gauntletsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{432,74}</string>
			<key>spriteSourceSize</key>
			<string>{432,74}</string>
			<key>textureRect</key>
			<string>{{190,233},{432,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gddp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{193,187}</string>
			<key>spriteSourceSize</key>
			<string>{193,187}</string>
			<key>textureRect</key>
			<string>{{0,138},{193,187}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gddp_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{210,189}</string>
			<key>spriteSourceSize</key>
			<string>{210,189}</string>
			<key>textureRect</key>
			<string>{{818,154},{210,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboards.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{163,148}</string>
			<key>spriteSourceSize</key>
			<string>{163,148}</string>
			<key>textureRect</key>
			<string>{{624,233},{163,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboardsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{373,90}</string>
			<key>spriteSourceSize</key>
			<string>{373,90}</string>
			<key>textureRect</key>
			<string>{{189,309},{373,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_lists.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{145,156}</string>
			<key>spriteSourceSize</key>
			<string>{145,156}</string>
			<key>textureRect</key>
			<string>{{0,333},{145,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_listsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{280,88}</string>
			<key>spriteSourceSize</key>
			<string>{280,88}</string>
			<key>textureRect</key>
			<string>{{789,345},{280,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{808,606}</string>
			<key>spriteSourceSize</key>
			<string>{808,606}</string>
			<key>textureRect</key>
			<string>{{158,435},{808,606}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevelsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{968,145}</string>
			<key>spriteSourceSize</key>
			<string>{968,145}</string>
			<key>textureRect</key>
			<string>{{0,1043},{968,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mappacks.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{222,157}</string>
			<key>spriteSourceSize</key>
			<string>{222,157}</string>
			<key>textureRect</key>
			<string>{{0,1190},{222,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,148}</string>
			<key>spriteSourceSize</key>
			<string>{218,148}</string>
			<key>textureRect</key>
			<string>{{224,1190},{218,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_pathsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{305,89}</string>
			<key>spriteSourceSize</key>
			<string>{305,89}</string>
			<key>textureRect</key>
			<string>{{970,435},{305,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_paths_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{167,107}</string>
			<key>spriteSourceSize</key>
			<string>{167,107}</string>
			<key>textureRect</key>
			<string>{{444,1190},{167,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_quests.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,169}</string>
			<key>spriteSourceSize</key>
			<string>{156,169}</string>
			<key>textureRect</key>
			<string>{{613,1190},{156,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_safe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{191,208}</string>
			<key>spriteSourceSize</key>
			<string>{191,208}</string>
			<key>textureRect</key>
			<string>{{784,1190},{191,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_saved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{172,144}</string>
			<key>spriteSourceSize</key>
			<string>{172,144}</string>
			<key>textureRect</key>
			<string>{{444,1299},{172,144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_savedLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{304,90}</string>
			<key>spriteSourceSize</key>
			<string>{304,90}</string>
			<key>textureRect</key>
			<string>{{0,1349},{304,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{145,138}</string>
			<key>spriteSourceSize</key>
			<string>{145,138}</string>
			<key>textureRect</key>
			<string>{{590,1348},{145,138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_searchLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{380,90}</string>
			<key>spriteSourceSize</key>
			<string>{380,90}</string>
			<key>textureRect</key>
			<string>{{0,1441},{380,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_superexpert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{221,177}</string>
			<key>spriteSourceSize</key>
			<string>{221,177}</string>
			<key>textureRect</key>
			<string>{{737,1383},{221,177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>ninxout.redash/redashsheet1-uhd.png</string>
		<key>size</key>
		<string>{1069,1560}</string>
		<key>textureFileName</key>
		<string>ninxout.redash/redashsheet1-uhd.png</string>
	</dict>
</dict>
</plist>