<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ninxout.redash/RD_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,68}</string>
			<key>spriteSourceSize</key>
			<string>{94,68}</string>
			<key>textureRect</key>
			<string>{{0,0},{94,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,123}</string>
			<key>spriteSourceSize</key>
			<string>{126,123}</string>
			<key>textureRect</key>
			<string>{{96,0},{126,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_createLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{181,45}</string>
			<key>spriteSourceSize</key>
			<string>{181,45}</string>
			<key>textureRect</key>
			<string>{{224,0},{181,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,116}</string>
			<key>spriteSourceSize</key>
			<string>{109,116}</string>
			<key>textureRect</key>
			<string>{{407,0},{109,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_featuredLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{234,44}</string>
			<key>spriteSourceSize</key>
			<string>{234,44}</string>
			<key>textureRect</key>
			<string>{{224,111},{234,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gauntlets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{116,122}</string>
			<key>spriteSourceSize</key>
			<string>{116,122}</string>
			<key>textureRect</key>
			<string>{{460,111},{116,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gauntletsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{216,37}</string>
			<key>spriteSourceSize</key>
			<string>{216,37}</string>
			<key>textureRect</key>
			<string>{{0,125},{216,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gddp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,93}</string>
			<key>spriteSourceSize</key>
			<string>{96,93}</string>
			<key>textureRect</key>
			<string>{{218,157},{96,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gddp2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,94}</string>
			<key>spriteSourceSize</key>
			<string>{105,94}</string>
			<key>textureRect</key>
			<string>{{316,157},{105,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboards.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,129}</string>
			<key>spriteSourceSize</key>
			<string>{140,129}</string>
			<key>textureRect</key>
			<string>{{0,164},{140,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboardsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{186,45}</string>
			<key>spriteSourceSize</key>
			<string>{186,45}</string>
			<key>textureRect</key>
			<string>{{142,253},{186,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_lists.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{107,117}</string>
			<key>spriteSourceSize</key>
			<string>{107,117}</string>
			<key>textureRect</key>
			<string>{{423,229},{107,117}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_listsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,44}</string>
			<key>spriteSourceSize</key>
			<string>{140,44}</string>
			<key>textureRect</key>
			<string>{{0,295},{140,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{404,303}</string>
			<key>spriteSourceSize</key>
			<string>{404,303}</string>
			<key>textureRect</key>
			<string>{{142,338},{404,303}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevelsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{484,72}</string>
			<key>spriteSourceSize</key>
			<string>{484,72}</string>
			<key>textureRect</key>
			<string>{{0,643},{484,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mappacks.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,78}</string>
			<key>spriteSourceSize</key>
			<string>{111,78}</string>
			<key>textureRect</key>
			<string>{{486,643},{111,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,99}</string>
			<key>spriteSourceSize</key>
			<string>{156,99}</string>
			<key>textureRect</key>
			<string>{{0,717},{156,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_pathsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,44}</string>
			<key>spriteSourceSize</key>
			<string>{152,44}</string>
			<key>textureRect</key>
			<string>{{158,717},{152,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,74}</string>
			<key>spriteSourceSize</key>
			<string>{109,74}</string>
			<key>textureRect</key>
			<string>{{312,717},{109,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_quests.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,84}</string>
			<key>spriteSourceSize</key>
			<string>{78,84}</string>
			<key>textureRect</key>
			<string>{{423,723},{78,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_safe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{95,104}</string>
			<key>spriteSourceSize</key>
			<string>{95,104}</string>
			<key>textureRect</key>
			<string>{{509,723},{95,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_saved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,112}</string>
			<key>spriteSourceSize</key>
			<string>{133,112}</string>
			<key>textureRect</key>
			<string>{{158,763},{133,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_savedLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{152,45}</string>
			<key>spriteSourceSize</key>
			<string>{152,45}</string>
			<key>textureRect</key>
			<string>{{293,803},{152,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,111}</string>
			<key>spriteSourceSize</key>
			<string>{110,111}</string>
			<key>textureRect</key>
			<string>{{0,818},{110,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_searchLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{190,45}</string>
			<key>spriteSourceSize</key>
			<string>{190,45}</string>
			<key>textureRect</key>
			<string>{{293,850},{190,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_superexpert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,88}</string>
			<key>spriteSourceSize</key>
			<string>{110,88}</string>
			<key>textureRect</key>
			<string>{{485,829},{110,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>ninxout.redash/redashsheet1-hd.png</string>
		<key>size</key>
		<string>{604,928}</string>
		<key>textureFileName</key>
		<string>ninxout.redash/redashsheet1-hd.png</string>
	</dict>
</dict>
</plist>