<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ninxout.redash/RD_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,136}</string>
			<key>spriteSourceSize</key>
			<string>{188,136}</string>
			<key>textureRect</key>
			<string>{{0,0},{188,136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{246,225}</string>
			<key>spriteSourceSize</key>
			<string>{246,225}</string>
			<key>textureRect</key>
			<string>{{190,0},{246,225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_create2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{203,187}</string>
			<key>spriteSourceSize</key>
			<string>{203,187}</string>
			<key>textureRect</key>
			<string>{{438,0},{203,187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_eventCrown_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-7}</string>
			<key>spriteSize</key>
			<string>{320,233}</string>
			<key>spriteSourceSize</key>
			<string>{322,252}</string>
			<key>textureRect</key>
			<string>{{643,0},{320,233}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,221}</string>
			<key>spriteSourceSize</key>
			<string>{218,221}</string>
			<key>textureRect</key>
			<string>{{965,0},{218,221}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_featured2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,184}</string>
			<key>spriteSourceSize</key>
			<string>{184,184}</string>
			<key>textureRect</key>
			<string>{{0,138},{184,184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gauntlets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{231,243}</string>
			<key>spriteSourceSize</key>
			<string>{231,243}</string>
			<key>textureRect</key>
			<string>{{965,220},{231,243}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gauntlets2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{194,203}</string>
			<key>spriteSourceSize</key>
			<string>{194,203}</string>
			<key>textureRect</key>
			<string>{{438,189},{194,203}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gddp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{193,187}</string>
			<key>spriteSourceSize</key>
			<string>{193,187}</string>
			<key>textureRect</key>
			<string>{{186,227},{193,187}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_gddp2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{210,189}</string>
			<key>spriteSourceSize</key>
			<string>{210,189}</string>
			<key>textureRect</key>
			<string>{{643,235},{210,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_geome3dash.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{165,165}</string>
			<key>spriteSourceSize</key>
			<string>{165,165}</string>
			<key>textureRect</key>
			<string>{{0,324},{165,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboards.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{267,232}</string>
			<key>spriteSourceSize</key>
			<string>{267,232}</string>
			<key>textureRect</key>
			<string>{{167,416},{267,232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboards2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{215,190}</string>
			<key>spriteSourceSize</key>
			<string>{215,190}</string>
			<key>textureRect</key>
			<string>{{436,385},{215,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_lists.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{204,213}</string>
			<key>spriteSourceSize</key>
			<string>{204,213}</string>
			<key>textureRect</key>
			<string>{{628,426},{204,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_lists2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{171,177}</string>
			<key>spriteSourceSize</key>
			<string>{171,177}</string>
			<key>textureRect</key>
			<string>{{843,453},{171,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_mainLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{808,606}</string>
			<key>spriteSourceSize</key>
			<string>{808,606}</string>
			<key>textureRect</key>
			<string>{{436,632},{808,606}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevelsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{968,145}</string>
			<key>spriteSourceSize</key>
			<string>{968,145}</string>
			<key>textureRect</key>
			<string>{{0,1240},{968,145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_map.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{233,210}</string>
			<key>spriteSourceSize</key>
			<string>{233,210}</string>
			<key>textureRect</key>
			<string>{{970,1240},{233,210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_map2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{193,176}</string>
			<key>spriteSourceSize</key>
			<string>{193,176}</string>
			<key>textureRect</key>
			<string>{{0,1387},{193,176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mappacks.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{321,215}</string>
			<key>spriteSourceSize</key>
			<string>{321,215}</string>
			<key>textureRect</key>
			<string>{{195,1387},{321,215}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mappacks2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{222,157}</string>
			<key>spriteSourceSize</key>
			<string>{222,157}</string>
			<key>textureRect</key>
			<string>{{518,1387},{222,157}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{302,194}</string>
			<key>spriteSourceSize</key>
			<string>{302,194}</string>
			<key>textureRect</key>
			<string>{{742,1452},{302,194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{214,144}</string>
			<key>spriteSourceSize</key>
			<string>{214,144}</string>
			<key>textureRect</key>
			<string>{{1046,1452},{214,144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_quests.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{194,210}</string>
			<key>spriteSourceSize</key>
			<string>{194,210}</string>
			<key>textureRect</key>
			<string>{{518,1546},{194,210}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_quests2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,169}</string>
			<key>spriteSourceSize</key>
			<string>{156,169}</string>
			<key>textureRect</key>
			<string>{{0,1565},{156,169}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_roulette.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,190}</string>
			<key>spriteSourceSize</key>
			<string>{182,190}</string>
			<key>textureRect</key>
			<string>{{1046,1598},{182,190}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_safe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{191,208}</string>
			<key>spriteSourceSize</key>
			<string>{191,208}</string>
			<key>textureRect</key>
			<string>{{171,1604},{191,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_saved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,222}</string>
			<key>spriteSourceSize</key>
			<string>{250,222}</string>
			<key>textureRect</key>
			<string>{{730,1648},{250,222}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_saved2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{205,185}</string>
			<key>spriteSourceSize</key>
			<string>{205,185}</string>
			<key>textureRect</key>
			<string>{{381,1742},{205,185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{218,218}</string>
			<key>spriteSourceSize</key>
			<string>{218,218}</string>
			<key>textureRect</key>
			<string>{{982,1782},{218,218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_search2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{182,182}</string>
			<key>spriteSourceSize</key>
			<string>{182,182}</string>
			<key>textureRect</key>
			<string>{{0,1797},{182,182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_superexpert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{221,177}</string>
			<key>spriteSourceSize</key>
			<string>{221,177}</string>
			<key>textureRect</key>
			<string>{{184,1797},{221,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_versus.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{234,229}</string>
			<key>spriteSourceSize</key>
			<string>{234,229}</string>
			<key>textureRect</key>
			<string>{{588,1872},{234,229}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_versus2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{195,191}</string>
			<key>spriteSourceSize</key>
			<string>{195,191}</string>
			<key>textureRect</key>
			<string>{{363,1929},{195,191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>ninxout.redash/redashsheet1-uhd.png</string>
		<key>size</key>
		<string>{1260,2120}</string>
		<key>textureFileName</key>
		<string>ninxout.redash/redashsheet1-uhd.png</string>
	</dict>
</dict>
</plist>