<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{66,84}</string>
				<key>spriteSourceSize</key>
				<string>{81,87}</string>
				<key>textureRect</key>
				<string>{{0,0},{66,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{66,84}</string>
				<key>spriteSourceSize</key>
				<string>{81,87}</string>
				<key>textureRect</key>
				<string>{{67,0},{66,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,59}</string>
				<key>spriteSourceSize</key>
				<string>{63,59}</string>
				<key>textureRect</key>
				<string>{{199,65},{63,59}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,59}</string>
				<key>spriteSourceSize</key>
				<string>{63,59}</string>
				<key>textureRect</key>
				<string>{{0,215},{63,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{64,84}</string>
				<key>spriteSourceSize</key>
				<string>{69,86}</string>
				<key>textureRect</key>
				<string>{{0,85},{64,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{64,84}</string>
				<key>spriteSourceSize</key>
				<string>{69,86}</string>
				<key>textureRect</key>
				<string>{{85,85},{64,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,59}</string>
				<key>spriteSourceSize</key>
				<string>{63,59}</string>
				<key>textureRect</key>
				<string>{{64,215},{63,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,59}</string>
				<key>spriteSourceSize</key>
				<string>{63,59}</string>
				<key>textureRect</key>
				<string>{{128,215},{63,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{64,82}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{134,0},{64,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{64,82}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{0,150},{64,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,59}</string>
				<key>spriteSourceSize</key>
				<string>{63,59}</string>
				<key>textureRect</key>
				<string>{{192,215},{63,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,59}</string>
				<key>spriteSourceSize</key>
				<string>{63,59}</string>
				<key>textureRect</key>
				<string>{{256,129},{63,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{63,82}</string>
				<key>spriteSourceSize</key>
				<string>{65,87}</string>
				<key>textureRect</key>
				<string>{{83,150},{63,82}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_LegendaryGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,60}</string>
				<key>spriteSourceSize</key>
				<string>{64,60}</string>
				<key>textureRect</key>
				<string>{{166,150},{64,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_MythicGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,60}</string>
				<key>spriteSourceSize</key>
				<string>{64,60}</string>
				<key>textureRect</key>
				<string>{{199,0},{64,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
			<key>size</key>
			<string>{319,274}</string>
			<key>textureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
		</dict>
	</dict>
</plist>