<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.animated_fire/EpicFrame_01.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{108,145}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{0,0},{108,145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,2}</string>
			<key>spriteSize</key>
			<string>{108,145}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{147,0},{108,145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_03.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,2}</string>
			<key>spriteSize</key>
			<string>{114,145}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{294,0},{114,145}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_04.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{113,142}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{441,0},{113,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_05.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{111,142}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{0,110},{111,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_06.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,1}</string>
			<key>spriteSize</key>
			<string>{111,143}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{144,110},{111,143}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_07.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{111,142}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{289,116},{111,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_08.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{109,142}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{433,144},{109,142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.animated_fire/EpicSheet-hd.png</string>
		<key>size</key>
		<string>{554,286}</string>
		<key>textureFileName</key>
		<string>uproxide.animated_fire/EpicSheet-hd.png</string>
	</dict>
</dict>
</plist>