<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.animated_fire/EpicFrame_01.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,3}</string>
			<key>spriteSize</key>
			<string>{216,291}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{0,0},{216,291}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,3}</string>
			<key>spriteSize</key>
			<string>{216,291}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{293,0},{216,291}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_03.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,3}</string>
			<key>spriteSize</key>
			<string>{226,289}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{586,0},{226,289}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_04.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,2}</string>
			<key>spriteSize</key>
			<string>{227,285}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{877,0},{227,285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_05.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,1}</string>
			<key>spriteSize</key>
			<string>{224,284}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{0,218},{224,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_06.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-7,1}</string>
			<key>spriteSize</key>
			<string>{223,285}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{286,218},{223,285}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_07.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,0}</string>
			<key>spriteSize</key>
			<string>{222,283}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{573,228},{222,283}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.animated_fire/EpicFrame_08.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{218,283}</string>
			<key>spriteSourceSize</key>
			<string>{400,400}</string>
			<key>textureRect</key>
			<string>{{858,287},{218,283}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.animated_fire/EpicSheet-uhd.png</string>
		<key>size</key>
		<string>{1104,570}</string>
		<key>textureFileName</key>
		<string>uproxide.animated_fire/EpicSheet-uhd.png</string>
	</dict>
</dict>
</plist>