<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>km7dev.gdps-switcher/deleteBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{0,0},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/editBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{162,0},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/export.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,2}</string>
			<key>spriteSize</key>
			<string>{286,278}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{0,162},{286,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/import.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,1}</string>
			<key>spriteSize</key>
			<string>{286,275}</string>
			<key>spriteSourceSize</key>
			<string>{300,300}</string>
			<key>textureRect</key>
			<string>{{0,442},{286,275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>km7dev.gdps-switcher/switchServer.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-9}</string>
			<key>spriteSize</key>
			<string>{276,259}</string>
			<key>spriteSourceSize</key>
			<string>{336,336}</string>
			<key>textureRect</key>
			<string>{{288,162},{276,259}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>km7dev.gdps-switcher/GS_serverSheet01-uhd.png</string>
		<key>size</key>
		<string>{547,717}</string>
		<key>textureFileName</key>
		<string>km7dev.gdps-switcher/GS_serverSheet01-uhd.png</string>
	</dict>
</dict>
</plist>
