<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dasshu.better-gauntlets/GR_gauntletCornerColor_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-13,-12}</string>
			<key>spriteSize</key>
			<string>{258,257}</string>
			<key>spriteSourceSize</key>
			<string>{286,282}</string>
			<key>textureRect</key>
			<string>{{0,0},{258,257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/GR_gauntletCornerHighlight_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-13,-12}</string>
			<key>spriteSize</key>
			<string>{258,257}</string>
			<key>spriteSourceSize</key>
			<string>{286,282}</string>
			<key>textureRect</key>
			<string>{{260,0},{258,257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/GR_gauntletCorner_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{286,282}</string>
			<key>spriteSourceSize</key>
			<string>{286,282}</string>
			<key>textureRect</key>
			<string>{{520,0},{286,282}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/gauntletGround_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2136,106}</string>
			<key>spriteSourceSize</key>
			<string>{2136,106}</string>
			<key>textureRect</key>
			<string>{{0,284},{2136,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/gauntletTitle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{841,237}</string>
			<key>spriteSourceSize</key>
			<string>{841,237}</string>
			<key>textureRect</key>
			<string>{{0,392},{841,237}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/vaultText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-5}</string>
			<key>spriteSize</key>
			<string>{699,202}</string>
			<key>spriteSourceSize</key>
			<string>{748,219}</string>
			<key>textureRect</key>
			<string>{{808,0},{699,202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dasshu.better-gauntlets/GauntletUISheet_001-uhd.png</string>
		<key>size</key>
		<string>{2136,629}</string>
		<key>textureFileName</key>
		<string>dasshu.better-gauntlets/GauntletUISheet_001-uhd.png</string>
	</dict>
</dict>
</plist>