<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dasshu.better-gauntlets/GR_gauntletCornerColor_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,-5}</string>
			<key>spriteSize</key>
			<string>{132,131}</string>
			<key>spriteSourceSize</key>
			<string>{143,141}</string>
			<key>textureRect</key>
			<string>{{0,0},{132,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/GR_gauntletCornerHighlight_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,-5}</string>
			<key>spriteSize</key>
			<string>{132,131}</string>
			<key>spriteSourceSize</key>
			<string>{143,141}</string>
			<key>textureRect</key>
			<string>{{134,0},{132,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/GR_gauntletCorner_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,141}</string>
			<key>spriteSourceSize</key>
			<string>{143,141}</string>
			<key>textureRect</key>
			<string>{{268,0},{143,141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/gauntletGround_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1068,53}</string>
			<key>spriteSourceSize</key>
			<string>{1068,53}</string>
			<key>textureRect</key>
			<string>{{0,143},{1068,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/gauntletTitle.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{420,118}</string>
			<key>spriteSourceSize</key>
			<string>{420,118}</string>
			<key>textureRect</key>
			<string>{{0,198},{420,118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>dasshu.better-gauntlets/vaultText.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-3}</string>
			<key>spriteSize</key>
			<string>{355,104}</string>
			<key>spriteSourceSize</key>
			<string>{374,109}</string>
			<key>textureRect</key>
			<string>{{413,0},{355,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>dasshu.better-gauntlets/GauntletUISheet_001-hd.png</string>
		<key>size</key>
		<string>{1068,316}</string>
		<key>textureFileName</key>
		<string>dasshu.better-gauntlets/GauntletUISheet_001-hd.png</string>
	</dict>
</dict>
</plist>