<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{65,83}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{0,151},{65,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{66,84}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{125,0},{66,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{0,217},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{61,217},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{61,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{63,0},{61,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{62,86}</string>
				<key>spriteSourceSize</key>
				<string>{70,87}</string>
				<key>textureRect</key>
				<string>{{0,0},{62,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{122,216},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{183,209},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,-0.5}</string>
				<key>spriteSize</key>
				<string>{64,83}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{84,151},{64,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{63,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{0,87},{63,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0}</string>
				<key>spriteSize</key>
				<string>{64,60}</string>
				<key>spriteSourceSize</key>
				<string>{72,60}</string>
				<key>textureRect</key>
				<string>{{192,0},{64,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{59,58}</string>
				<key>spriteSourceSize</key>
				<string>{60,58}</string>
				<key>textureRect</key>
				<string>{{253,0},{59,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,83}</string>
				<key>spriteSourceSize</key>
				<string>{60,87}</string>
				<key>textureRect</key>
				<string>{{86,86},{60,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_LegendaryGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{61,61}</string>
				<key>spriteSourceSize</key>
				<string>{61,64}</string>
				<key>textureRect</key>
				<string>{{168,147},{61,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_MythicGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{61,61}</string>
				<key>spriteSourceSize</key>
				<string>{61,64}</string>
				<key>textureRect</key>
				<string>{{170,85},{61,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
			<key>size</key>
			<string>{311,277}</string>
			<key>textureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-hd.png</string>
		</dict>
	</dict>
</plist>