<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>uproxide.more_difficulties/MD_Difficulty04_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{129,165}</string>
				<key>spriteSourceSize</key>
				<string>{165,171}</string>
				<key>textureRect</key>
				<string>{{0,171},{129,165}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,1.5}</string>
				<key>spriteSize</key>
				<string>{129,163}</string>
				<key>spriteSourceSize</key>
				<string>{163,174}</string>
				<key>textureRect</key>
				<string>{{370,0},{129,163}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{0,422},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty04Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{121,422},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-2}</string>
				<key>spriteSize</key>
				<string>{120,170}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{0,0},{120,170}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-2}</string>
				<key>spriteSize</key>
				<string>{120,170}</string>
				<key>spriteSourceSize</key>
				<string>{139,174}</string>
				<key>textureRect</key>
				<string>{{121,0},{120,170}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{242,418},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty07Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,120}</string>
				<key>spriteSourceSize</key>
				<string>{120,120}</string>
				<key>textureRect</key>
				<string>{{363,418},{120,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{127,165}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{242,0},{127,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{123,165}</string>
				<key>spriteSourceSize</key>
				<string>{136,172}</string>
				<key>textureRect</key>
				<string>{{166,171},{123,165}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3.5,0}</string>
				<key>spriteSize</key>
				<string>{127,120}</string>
				<key>spriteSourceSize</key>
				<string>{144,120}</string>
				<key>textureRect</key>
				<string>{{370,164},{127,120}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_Difficulty09Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{118,115}</string>
				<key>spriteSourceSize</key>
				<string>{120,115}</string>
				<key>textureRect</key>
				<string>{{500,0},{118,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_DifficultyCP.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,165}</string>
				<key>spriteSourceSize</key>
				<string>{120,173}</string>
				<key>textureRect</key>
				<string>{{0,301},{120,165}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.more_difficulties/MD_LegendaryGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{122,122}</string>
				<key>spriteSourceSize</key>
				<string>{122,128}</string>
				<key>textureRect</key>
				<string>{{166,295},{122,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.more_difficulties/MD_MythicGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,3}</string>
				<key>spriteSize</key>
				<string>{122,122}</string>
				<key>spriteSourceSize</key>
				<string>{122,128}</string>
				<key>textureRect</key>
				<string>{{289,295},{122,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
			<key>size</key>
			<string>{615,542}</string>
			<key>textureFileName</key>
			<string>uproxide.more_difficulties/MD_DifficultySheet-uhd.png</string>
		</dict>
	</dict>
</plist>