<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>MD_Difficulty04_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,85}</string>
				<key>spriteSourceSize</key>
				<string>{82,87}</string>
				<key>textureRect</key>
				<string>{{0,0},{82,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty04.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{66,83}</string>
				<key>spriteSourceSize</key>
				<string>{82,86}</string>
				<key>textureRect</key>
				<string>{{215,0},{66,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty04Small_Lecacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{215,84},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty04Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{154,85},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty07_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{70,85}</string>
				<key>spriteSourceSize</key>
				<string>{71,86}</string>
				<key>textureRect</key>
				<string>{{83,0},{70,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty07.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{62,85}</string>
				<key>spriteSourceSize</key>
				<string>{70,86}</string>
				<key>textureRect</key>
				<string>{{0,86},{62,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>MD_Difficulty07Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{215,145},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty07Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{149,146},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty09_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{68,85}</string>
				<key>spriteSourceSize</key>
				<string>{68,86}</string>
				<key>textureRect</key>
				<string>{{0,149},{68,85}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>MD_Difficulty09.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0.5}</string>
				<key>spriteSize</key>
				<string>{62,84}</string>
				<key>spriteSourceSize</key>
				<string>{68,85}</string>
				<key>textureRect</key>
				<string>{{86,86},{62,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty09Small_Legacy.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{0,218},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_Difficulty09Small.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,58}</string>
				<key>spriteSourceSize</key>
				<string>{60,58}</string>
				<key>textureRect</key>
				<string>{{61,218},{60,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>MD_DifficultyCP.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{60,84}</string>
				<key>spriteSourceSize</key>
				<string>{60,86}</string>
				<key>textureRect</key>
				<string>{{154,0},{60,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_LegendaryGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{210,206},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>MD_MythicGlow.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>textureRect</key>
				<string>{{120,207},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>MD_DifficultySheet-hd.png</string>
			<key>size</key>
			<string>{281,278}</string>
			<key>textureFileName</key>
			<string>MD_DifficultySheet-hd.png</string>
		</dict>
	</dict>
</plist>